.form-container {
  width:60vw;
  max-width: 800px;
  margin:0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border:2px solid #444242;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
  height: 150px;
}